{% extends 'base.html.twig' %}

{% block title %}Liste Contacts{% endblock %}

{% block content %}
  <h1>Liste des contacts</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Adresse</th>
      <th scope="col">Ville</th>
      <th scope="col">Age</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for contact in contacts %}
    <tr>
      <th scope="row">{{ contact.id }}</th>
      <td>{{ contact.nom }}</td>
      <td>{{ contact.prenom }}</td>
      <td>{{ contact.telephone }}</td>
       <td>{{ contact.adresse }}</td>
      <td>{{ contact.ville }}</td>
      <td>{{ contact.age }}</td>
      <td><a href="{{ path('contact', {id : contact.id}) }}" type="button" class="btn btn-info">Afficher</a></td>
      <td><a href="" type="button" class="btn btn-warning">Modifier</a></td>
      <td><a href="" type="button" class="btn btn-danger">Supprimer</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}